
button {
    padding: 4px 4px;
    cursor: pointer;
    margin-left: 10px;
    width: 180px;
    border-radius: 5px;
}

#linkButton {
    background-color: #2487A1;
    color: white;
}

#deactivateButton {
    background-color: #B90B0B;
    color: white;
}

#reactivateButton {
    background-color: #318346;
    color: white;
}


@media (max-width: 600px) {
    button {
        width: calc(100% - 20px); 
        margin-left: 0;
        margin-top: 5px; 
        font-size: 10px;
    }
}
