<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receptionist Registration form</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/output.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  <style>
    body {
      font-family: 'Raleway', sans-serif;
    }
  </style>
</head>
<body class="p-4 bg-slate-200">
    <div class="flex items-center justify-between p-4 bg-white">
      
        <div class="flex items-center">
            <img src="image/cclogo2.png" alt="Logo" class="h-20 w-20">
            <span class="text-black font-bold text-5xl ml-1">Cardio Care</span>
        </div>
        
       
        <div class="flex items-center">
            
            <img src="image/royal.png" alt="Profile Image" class="rounded-full h-12 w-12 mr-2 object-cover">
    
           
            <div>
                <p class="text-gray-800 font-bold">Royal Hospital</p>
                <div class="flex items-center">
                   
                    <span class="text-black font-bold"> <i class="fa-solid fa-hospital"></i> RH647745</span>
                </div>
            </div>
        </div>
    </div>

        
    <section>
        <div class="flex flex-col justify-center items-center md:flex md:flex-row">
       
<div style="width: 350px;" class="mr-5 rounded-lg p-8 font-bold text-2xl py-11 mt-5 bg-white text-center justify-center items-center text-gray-800 mb-5 hover:shadow-2xl cursor-pointer">
    <img src="image/cclogo2.png" alt="Logo" class="h-12 w-12">
    <a id="openModalBtn" href="adminDashboard.html">Add Receptionist</a>
    <i class="fa-solid fa-user"></i>
   
</div>



            <div style="width:350px;" class="mt-5 mr-5 ml-3 rounded-lg p-8 py-11 font-bold text-2xl bg-white text-center justify-center items-center  mb-5 hover:shadow-2xl cursor-pointer">
                <img src="image/cclogo3.png" alt="Logo" class="h-12 w-12">
                <a href="addDoctor.html" class="text-gray-800">Register Doctor</a>
                <i class="fa-solid fa-user-doctor"></i>
            </div>
          
        </div>

        

    <h1 class="text-3xl font-bold mb-4">Create Receptionist</h1>
    <form id="receptionistForm" method="POST" action="/admin/create-receptionist" class="max-w-md font-bold">
        <label for="firstName" class="block mb-2">First Name:</label>
        <input type="text" id="firstName" name="name.first" required
            class="border border-gray-300 rounded-md py-2 px-3 mb-2 w-full focus:outline-none focus:border-blue-500">
            
        <label for="lastName" class="block mb-2">Middle Name:</label>
        <input type="text" id="middleName" name="name.middle" required
            class="border border-gray-300 rounded-md py-2 px-3 mb-2 w-full focus:outline-none focus:border-blue-500">

        <label for="lastName" class="block mb-2">Last Name:</label>
        <input type="text" id="lastName" name="name.last" required
            class="border border-gray-300 rounded-md py-2 px-3 mb-2 w-full focus:outline-none focus:border-blue-500">

        <label for="email" class="block mb-2">Email:</label>
        <input type="email" id="email" name="email" required
            class="border border-gray-300 rounded-md py-2 px-3 mb-2 w-full focus:outline-none focus:border-blue-500">

        <label for="password" class="block mb-2">Password:</label>
        <input type="password" id="password" name="password" required
            class="border border-gray-300 rounded-md py-2 px-3 mb-2 w-full focus:outline-none focus:border-blue-500">

        <label for="gender" class="block mb-2">Gender:</label>
        <select id="gender" name="gender"
            class="border border-gray-300 rounded-md py-2 px-3 mb-2 w-full focus:outline-none focus:border-blue-500">
            <option value="male">Male</option>
            <option value="female">Female</option>
      
        </select>

        <label for="phoneNumber" class="block mb-2">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber"
            class="border border-gray-300 rounded-md py-2 px-3 mb-2 w-full focus:outline-none focus:border-blue-500">

        <label for="city" class="block mb-2">City:</label>
        <input type="text" id="city" name="adddress.city"
            class="border border-gray-300 rounded-md py-2 px-3 mb-2 w-full focus:outline-none focus:border-blue-500">

        <label for="subCity" class="block mb-2">Subcity:</label>
        <input type="text" id="subCity" name="adddress.subCity"
            class="border border-gray-300 rounded-md py-2 px-3 mb-2 w-full focus:outline-none focus:border-blue-500">

        <label for="woreda" class="block mb-2">Woreda:</label>
        <input type="number" id="woreda" name="adddress.woreda"
            class="border border-gray-300 rounded-md py-2 px-3 mb-2 w-full focus:outline-none focus:border-blue-500">

        <label for="houseNumber" class="block mb-2">House Number:</label>
        <input type="number" id="houseNumber" name="adddress.houseNumber"
            class="border border-gray-300 rounded-md py-2 px-3 mb-4 w-full focus:outline-none focus:border-blue-500">

        <button type="submit"
            class="bg-black hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create
            Receptionist</button>
    </form>
    <script src="scripts/admin/receptionistCreation.js"> </script>
</body>


</html>
