<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Page </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="image/favicon.ico" type="image/x-icon" >
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles/output.css">
    <style>
        body{
            font-family: 'Raleway', sans-serif;
        }
    </style>
</head>
<body class="bg-slate-200">
    <header class="bg-white shadow-lg">
        <div class="flex justify-between px-5 py-3">
            <div class="flex justify-start ">
              <img src="image/cardio_care-removebg-preview 6.png" alt="">
              <h1 class="text-red-600  text-3xl pt-5">Cardio Care</h1>
             </div>
      
             <div>
              <h1 class=" text-3xl pt-5">Royal Hospital</h1>
             </div>
          </div>
    </header>

    <section class="m-8">
        <h1 class="text-3xl  font-bold text-red-800 px-4 py-2 mb-5">Appointments </h1>
        <section  class="flex-col justify-between items-center mx-auto font-bold bg-red-600 py-4 hidden md:flex md-block">

            <ul style="width:90%;" class="flex flex-row justify-between text-xl items-center text-white font-bold font-serif">
                <li>Status</li>
                <li>Date</li>
                <li>Time</li>
                <li>Doctor</li>
                <li>Instructions</li>
                <li>Options</li>
            </ul>
            
            
        </section>
    
        <section class="mb-5 hidden md:block ">
            <div  class="flex flex-col justify-center items-center mx-auto font-bold bg-white py-4 mt-4 rounded-lg">
    
                <ul style="width:95%;" class="flex justify-between  items-center text-gray-800  rounded-lg">
                    
                       
                    <li>Upcomming</li>
                
                    <li>8 April, 2024</li>
                    <li>6:00 AM-1:30 AM</li>
                    
                        
                    <li>Dr. Shimeles Asrat</li>
                    <li class="w-36">Please bring a list of all the medications you are currently taking,</li>
                    <div>
                            
                        <button class="bg-green-500 text-white px-4 py-2 rounded-full mr-2 hover:bg-green-600 hover:text-gray-100 transition duration-300 ease-in-out">Reschedule</button>
                        <button class="bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-600 hover:text-gray-100 transition duration-300 ease-in-out">Remove</button>
                    </div>
                        
                        
                       
                    </div>
                   
                    
                    
                    
            
                </ul>
             
                
                
            </div>
    
            <div class="flex flex-col justify-center items-center mx-auto font-bold bg-white py-4 mt-4 rounded-lg">
    
                <ul style="width:95%;" class="flex justify-between  items-center text-gray-800  rounded-lg">
                    
                       
                    <li>Passed</li>
                
                    <li>3 June, 2023</li>
                    <li>2:00 AM-3:30 AM</li>
                    
                        
                    <li>Dr. Brook Belay</li>
                    <li>-</li>
                    <div>
                        <button class="bg-green-500 text-white px-4 py-2 rounded-full mr-2 hover:bg-green-600 hover:text-gray-100 transition duration-300 ease-in-out">Reschedule</button>
                          
                                
                        <button class="bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-600 hover:text-gray-100 transition duration-300 ease-in-out">Remove</button>
                    </div>
                        
                            
                        
                        
                            

                        
                        
                    </div>
                    
                    
            
                </ul>
             
                
                
            </div>
            <div  class="flex flex-col justify-center items-center mx-auto font-bold bg-white py-4 mt-4 rounded-lg">
    
                <ul style="width:95%;" class="flex justify-between  items-center text-gray-800  rounded-lg">
                   
                        
                    <li>Cancelled</li>
               
                    <li>4 MaY, 2023</li>
                    <li>5:00 AM-6:30 AM</li>
                    
                      
                    <li>Dr. Mihret Getachew</li>
                    <li>-</li>
                    <div>
                        <button class="bg-green-500 text-white px-4 py-2 rounded-full mr-2 hover:bg-green-600 hover:text-gray-100 transition duration-300 ease-in-out">Reschedule</button>
                        <button class="bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-600 hover:text-gray-100 transition duration-300 ease-in-out">Remove</button>
                    </div>
                        
                    </div>
                    
                    
                    
            
                </ul>
             
                
                
            </div>
    
    
    
             
         
         
        </section>
        
    
      <!-- media query -->
        <section class="md:hidden">
            <section class="flex flex-row justify-center items-center mx-auto font-bold bg-gray-600 py-4 rounded-lg mt-5">
    
                <ul style="width:90%;" class="flex flex-col justify-between text-xl items-center text-white font-bold font-serif">
                    <li>Status</li>
                    <li>Date</li>
                    <li>Time</li>
                    <li>Doctor</li>
                    <li>Instructions</li>
                    <li>Options</li>
                </ul>
                <ul style="width:90%;" class=" flex flex-col justify-between text-xl items-center text-white font-bold font-serif rounded-lg">
                    
                        
                        <li>Upcoming</li>
                  
                        <li>8 April, 2024</li>
                        <li>6:00 AM-1:30 AM</li>
                   
                        
                        <li>Dr. Shimeles Asrat</li>
                        <li>-</li>
                        <div class="flex">
                            <button class="bg-green-500 text-white px-4 py-2 rounded-full mr-2 hover:bg-green-600 hover:text-gray-100 transition duration-300 ease-in-out">Reschedule</button>
                            <button class="bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-600 hover:text-gray-100 transition duration-300 ease-in-out">Remove</button>
                        </div>
                       
                
                    <a href="#"><i class="fa-regular fa-id-card"></i></a>
                    
                        
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                    
                    
                    
            
                </ul>
                
                
            </section>
             
            <section  class="flex flex-row justify-center items-center mx-auto font-bold bg-gray-600 py-4 rounded-lg mt-5">
        
                <ul style="width:90%;" class="flex flex-col justify-between text-xl items-center text-white font-bold font-serif">
                    <li>Status</li>
                    <li>Date</li>
                    <li>Time</li>
                    <li>Doctor</li>
                    <li>Instructions</li>
                    <li>Options</li>
                </ul>
                <ul style="width:90%;" class=" flex flex-col justify-between text-xl items-center text-white font-bold font-serif rounded-lg">
                    <li>Passed</li>
                  
                    <li>3 June, 2023</li>
                    <li>2:00 AM-3:30 AM</li>
               
                    
                    <li>Dr. Brook Belay</li>
                    <li>-</li>
                    <div class="flex">
                        <button class="bg-green-500 text-white px-4 py-2 rounded-full mr-2 hover:bg-green-600 hover:text-gray-100 transition duration-300 ease-in-out">Reschedule</button>
                        <button class="bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-600 hover:text-gray-100 transition duration-300 ease-in-out">Remove</button>
                    </div>
                    <a href="#"><i class="fa-regular fa-id-card"></i></a>
                    
                        
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                    
                    
                    
            
                </ul>
                
                
            </section>
            <section class="flex flex-row justify-center items-center mx-auto font-bold bg-gray-600 py-4 rounded-lg mt-5">
        
                <ul style="width:90%;" class="flex flex-col justify-between text-xl items-center text-white font-bold font-serif">
                    <li>Status</li>
                    <li>Date</li>
                    <li>Time</li>
                    <li>Doctor</li>
                    <li>Instructions</li>
                    <li>Options</li>
                </ul>
                <ul style="width:90%;" class=" flex flex-col justify-between text-xl items-center text-white font-bold font-serif rounded-lg">
                    <li>Cancelled</li>
                  
                    <li>4 MaY, 2023</li>
                    <li>5:00 AM-6:30 AM</li>
               
                    
                    <li>Dr. Mihret Getachew</li>
                    <li>-</li>
                    <div class="flex">
                        <button class="bg-green-500 text-white px-4 py-2 rounded-full mr-2 hover:bg-green-600 hover:text-gray-100 transition duration-300 ease-in-out">Reschedule</button>
                        <button class="bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-600 hover:text-gray-100 transition duration-300 ease-in-out">Remove</button>
                    </div>
                    <a href="#"><i class="fa-regular fa-id-card"></i></a>
                    
                        
                    <a href="#"><i class="fa-solid fa-link"></i></a>
                    
                    
                    
            
                </ul>
                
                
            </section>
            
           
           
           
            
        </section>
        
        <button class="bg-green-500 text-white text-xl font-bold px-4 py-2 rounded-full mr-2 mt-5 hover:bg-green-600 hover:text-gray-100 transition duration-300 ease-in-out">Schedule Appointment</button>
            
        
        
                
    </section>
        
    </section>
</body>
</html>