<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Page</title>
    <link rel="stylesheet" href="styles/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="icon" href="../../public/image/favicon.ico" type="image/x-icon">

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles/output.css">
    <link rel="stylesheet" href="appointment-styles.css">
</head>

<body class="bg-slate-200">
    <header class="bg-white shadow-lg">
        <div class="flex justify-between px-5 py-3">
            <div class="flex justify-start ">
                <img src="image/cardio_care-removebg-preview 6.png" alt="">
                <h1 class="text-red-600  text-3xl pt-5">Cardio Care</h1>
            </div>

            <div>
                <h1 class=" text-3xl pt-5">Royal Hospital</h1>
            </div>
        </div>
    </header>

    <section class="m-8" id="appointmentsSection">
        <section class="m-8">
            <h1 class="text-3xl  font-bold text-red-800 px-4 py-2 mb-5">Appointments </h1>
            <section class="flex-col justify-between items-center mx-auto font-bold bg-red-600 py-4 flex">
                <ul style="width:90%;" class="flex flex-col items-start gap-16 lg:flex-row justify-between text-xl  text-white font-bold font-serif">
                    <li>Status</li>
                    <li>Date</li>
                    <li>Time</li>
                    <li>Doctor</li>
                    <li>Instructions</li>
                    <li>Options</li>
                </ul>
            </section>
            <section class="mb-5" id="appointmentsContainer">
                <!-- Empty container for appointment cards -->
            </section>
        </section>
        <button id="scheduleAppointmentBtn" class="bg-green-500 text-white text-xl font-bold px-4 ml-6 py-2 rounded-full mr-2 mt-5 hover:bg-green-600 hover:text-gray-100 transition duration-300 ease-in-out">Schedule Appointment</button>
    </section>

    <script src="../../public/scripts/patient/appointmentScript.js"></script>
</body>

</html>

