<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date and Time Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="image/favicon.ico" type="image/x-icon" >
   
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles/output.css">
    <style>
        body{
            font-family: 'Raleway', sans-serif;
        }
    </style>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  
</head>
<body class="bg-slate-200 justify-center">
    <div class="flex">
        <div>
            <div class="mx-8 mt-8 mb-3 text-3xl text-bold text-black">
                <h1>Date</h1>
            </div>
            <div class="w-[566px] h-[463px] bg-white rounded-[10px] mx-8 p-4 mb-5">
        
                <div class="container h-100vh flex-col justify-start items-start">
                    <form>
                      <div class="calendar-container flex-col align-items-center">
                        <label for="date" class="">Date:</label>
                        <input type="text" class="border border-solid border-black" id="date" name="date" data-input>
                
                        <div class="calendar-card mt-10px w-[300px] bg-white border border-solid border-gray-200 rounded-md mt-4" id="calendar"></div>
                      </div>
                
                      
                    </form>
                  </div>
                
                
        
            </div>
            <button class="flex  bg-green-500 text-black text-xl font-bold px-5 py-2 rounded-full mx-8 mt-5 hover:bg-green-600 hover:text-gray-100 transition duration-300 ease-in-out"><img src="image/left-arrow (1).png " alt="" class="w-6 h-6 mr-2"><p>Previous</p> </button>
        </div>
        
        <div>
            <div class="mx-8 mt-8 mb-3 text-3xl text-bold text-black">
                <h1>Time</h1>
            </div>
            <div class="text-xl text-white bg-red-600 rounded-lg mx-8 p-4 mb-5 w-[450px] ">
                <p>please select a date to get the available time!</p>
            </div>
        

        
            <div class="mx-8 mt-8 mb-3 text-3xl text-bold text-black">
                <h1>Time</h1>
            </div>
            
            <div class="w-[418px] h-[397px] relative bg-white rounded-lg mx-8 p-4 mb-5">
                <div class="w-[274px] text-black text-base font-normal font-['Inter']">Tue Jan 2 2024 00:00:00<br/> GMT+0300 (East Africa Time)<br/>Times shown in:<br/>Africa/Addis_Ababa-EAT</div>
                <div class="w-[335px] h-[0px] left-[15px] top-[132px] absolute border border-zinc-300"></div>
                <div class="left-[22px] top-[193px] absolute text-black text-base font-normal font-['Inter']">Morning</div>
                <div class="left-[231px] top-[193px] absolute text-black text-base font-normal font-['Inter']">Afternoon</div>
                <div class="w-[148px] h-[0px] left-[22px] top-[232px] absolute border border-zinc-300"></div>
                <div class="w-[148px] h-[0px] left-[231px] top-[233px] absolute border border-zinc-300"></div>
                <div class="w-[168px] h-9 left-[231px] top-[258px] absolute bg-indigo-900 rounded-[5px]"></div>
                <div class="w-[168px] h-9 left-[231px] top-[326px] absolute bg-indigo-900 rounded-[5px]"></div>
                <div class="left-[251px] top-[266px] absolute text-white text-base font-normal font-['Inter']">15:00:00-16:00:00</div>
                <div class="left-[245px] top-[334px] absolute text-white text-base font-normal font-['Inter']">16:00:00-17:00:00</div>
            </div>
        </div>
    </div>
    
    
   
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
   <script src="scripts/patient/dateScript.js"></script>
</body>
</html>