<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient  dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="styles/output.css">
    <style>
        body{
            font-family: 'Raleway', sans-serif;
        }
    </style>
</head>
<body class="bg-slate-200">
    <div class="flex items-center justify-between p-4 bg-white">
      
        <div class="flex items-center">
            <img src="image/cclogo3.png" alt="Logo" class="h-20 w-20">
            <span class="text-blue-600 font-bold text-5xl ml-1">Cardio Care</span>
        </div>
        
       
        <div class="flex items-center">
            
            <img src="image/drTadesse.jpg" alt="Profile Image" class="rounded-full h-12 w-12 mr-2 object-cover">
    
           
            <div>
                <p class="text-gray-800 font-bold">Royal Hospital</p>
                <div class="flex items-center">
                   
                    <span class="text-black font-bold"> <i class="fa-solid fa-user"></i> ph647745</span>
                </div>
            </div>
        </div>
    </div>

    <main>


      
  
    </main>

  
       
  



    
</body>
</html>