<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/output.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body class="bg-gray-200 flex justify-center items-center h-screen">
    
    <div class=" w-[556px] h-[424px] pb-[19px] bg-white rounded-sm shadow backdrop-blur-[28px] flex-col justify-start items-start inline-flex">
        <div class="shadow-sm self-stretch px-6 py-4 bg-gray-50 shadow-inner justify-between items-center inline-flex">
            <div class=" w-40 text-black text-opacity-90 text-base font-medium  ">Import Medical Data</div>
            <div class=" w-4 h-4 relative cursor-pointer"><img src="image/close.png" alt=""></div>
        </div>
        <div class=" h-[315px] pl-3.5 pt-6 pb-[17px] flex-col justify-center items-start gap-2.5 flex">
            <div class=" w-[137px] text-center text-black text-xl font-normal  ">Upload File</div>
            <img class=" w-[530px] h-[244px] rounded-sm" src="image/dropFiles.png" />
        </div>
        <div class=" self-stretch px-4 py-2.5 bg-white shadow-inner justify-end items-end gap-2 inline-flex">
            <div class="btn cursor-pointer px-[15px] py-1 bg-white rounded-sm shadow border border-zinc-300 justify-center items-center gap-2.5 flex">
                <div class=" text-center text-black text-opacity-90 text-sm font-normal  ">Cancel</div>
            </div>
            <div class="btn cursor-pointer px-[15px] py-1 bg-sky-500 rounded-sm shadow border border-sky-500 justify-center items-center gap-2 flex">
                <div class=" text-center text-white text-sm font-normal  ">OK</div>
            </div>
        </div>
    </div>
</body>
</html>