<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/output.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body  class="space-y-4"  style="overflow-x: hidden;">
  <header>
    <nav class="w-full shadow-md justify-between items-center inline-flex">
      <div class=" p-2.5 justify-center items-center gap-2.5 flex">
        <img class=" w-[35.20px] h-[35.20px] rounded-[128px]" src="image/image 3.png" />
        <div class="   text-red-700 text-xl font-normal ">Cardio Care </div>
      </div>
      <p class=" text-black text-lg font-bold ">Royal Hospital</p>
      <div class=" justify-end items-center gap-2.5 flex me-10">
        <img class=" w-3.5 h-3.5 relative" src="image/search.png">
        <div class="  self-stretch px-3 justify-start items-center flex space-x-2 ">
          <img class=" w-6 h-6 relative" src="image/input-prefix.png" />
          <p class=" text-black text-opacity-90 text-sm font-normal  ">Dr. Serati Ma</p>
        </div>
      </div>
    </nav>
  </header>
  <main class="flex justify-between">
        
    <div class=" left-sidebar bg-white shadow-inner flex-col justify-start items-start gap-2 flex">
      <a href="doctors dashboard.html" class="self-stretch hover:bg-red-500">
          <div class="dashboard self-stretch h-10 px-4   items-center gap-2.5 flex justify-between">
            <div class="flex gap-2.5">
              <img class=" w-3.5 h-[14px] left-[-0px] top-[0.75px] " src="image/dashboard icon.png" />
              <p class="Title  text-sm font-normal   hover:text-white">Dashbaord</p>
            </div>
            <img class=" w-2 h-[8px] left-[1px] top-[2.20px]  rotate-0" src="image/dropdown arrow.png" />  
          </div>          
      </a>
      <div class="dropdownmenu  self-stretch h-auto bg-neutral-50  flex-col justify-start items-start gap-2 flex">
        <div class=" self-stretch pl-10 h-10 bg-sky-100 border-r-2 border-sky-500 justify-start items-center gap-6 inline-flex">
          <!-- h10 -->
            <p class=" text-neutral-800 text-sm font-normal  ">overall</p>
        </div>
        <div class=" self-stretch pl-10 h-10 pr-6 bg-white bg-opacity-0 justify-start items-start gap-2.5 inline-flex">
            <p class=" text-black text-opacity-90 text-sm font-normal  ">Upcoming appointment</p>        
        </div>
        <div class=" self-stretch pl-10 h-10 pr-6 bg-white bg-opacity-0 justify-start items-start gap-2.5 inline-flex">              
            <p class=" text-black text-opacity-90 text-sm font-normal  ">Export/import</p>
        </div>
      </div>
      <a href="patList.html" class="self-stretch hover:bg-red-500">
        <div class="patlist self-stretch h-10 px-4 gap-2.5 flex items-center hover:bg-red-500">
          <img class=" w-3.5 h-[14px]  " src="image/list icon.png" />
          <p class="Title text-black text-opacity-90 text-sm font-normal  hover:text-white">Patients List</p>
        </div>
      </a>
      <a href="" class=" hover:bg-red-500 w-full">
        <div class="appointment self-stretch h-10 px-4 bg-white bg-opacity-0 justify-start items-center gap-2.5 flex">
            <img class=" w-[12.50px] h-[14px] left-[0.75px] top-[0.75px] " src="image/appointment icon.png" />
            <p class="Title text-black text-opacity-90 text-sm font-normal   hover:text-white">Appointment</p>
        </div>
      </a>
      <a href="" class=" hover:bg-red-500 w-full">
        <div class="askleave self-stretch h-10 px-4 bg-white bg-opacity-0 justify-start items-center gap-2.5 flex">
          <img class=" w-3.5 h-auto left-[-0px] top-[0.88px] " src="image/ask leave icon.png" />
          <p class="Title text-black text-opacity-90 text-sm font-normal   hover:text-white">Ask leave</p>
        </div>
      </a>
    </div>

    <div class="maincontent mt-6 space-y-4 w-3/6 mx-10">
      <p class="  text-black text-xl font-bold  leading-snug">Search result for “Martin”</p>
      <div class=" pl-6  py-4  bg-white shadow-md justify-between items-start flex">
        <div class="  flex-col justify-start items-start gap-4 flex">
            <div class=" self-stretch justify-start items-start gap-4 flex">
              <img src="image/account icon.png" alt="">                    
              <div class=" flex-col justify-start items-center gap-3 flex">                      
                <p class=" text-black text-opacity-90 text-base font-medium  ">Martin Erno Vinny</p>
                <p class="Text self-stretch text-black text-opacity-40 text-[13px] font-normal  ">ID: PAT-1234</p>
              </div>  
            </div>
            
            <p class="text-zinc-800"><span class="text-zinc-800 text-sm font-bold ">Gender:</span> Male</span></p>
            <p class="text-zinc-800"><span class="text-zinc-800 text-sm font-bold  leading-snug">Birthdate:</span> 21 / 12 / 1912</p>
            <p class="text-zinc-800"span class="text-zinc-800 text-sm font-bold  leading-snug">Address:</span> Bole  Sub-city, Woreda 11, 1029</p>
            <p class="text-zinc-800"><span class="text-zinc-800 text-sm font-bold  leading-snug">Email:</span>martinerry@hotmail.com</p>
        </div>
        <img class="Ce91 w-[146.90px] h-[146.90px] shadow border-4 border-zinc-600" src="image/martin envo.png" />
      </div>
      <div class=" pl-6  py-4  bg-white shadow-md justify-between items-start flex">
        <div class="  flex-col justify-start items-start gap-4 flex">
            <div class=" self-stretch justify-start items-start gap-4 flex">
              <img src="image/account icon.png" alt="">                    
              <div class=" flex-col justify-start items-center gap-3 flex">                      
                <p class=" text-black text-opacity-90 text-base font-medium  ">Martin Erno Vinny</p>
                <p class="Text self-stretch text-black text-opacity-40 text-[13px] font-normal  ">ID: PAT-1234</p>
              </div>  
            </div>
            
            <p class="text-zinc-800"><span class="text-zinc-800 text-sm font-bold ">Gender:</span> Male</span></p>
            <p class="text-zinc-800"><span class="text-zinc-800 text-sm font-bold  leading-snug">Birthdate:</span> 21 / 12 / 1912</p>
            <p class="text-zinc-800"span class="text-zinc-800 text-sm font-bold  leading-snug">Address:</span> Bole  Sub-city, Woreda 11, 1029</p>
            <p class="text-zinc-800"><span class="text-zinc-800 text-sm font-bold  leading-snug">Email:</span>martinerry@hotmail.com</p>
        </div>
        <img class="Ce91 w-[146.90px] h-[146.90px] shadow border-4 border-zinc-600" src="image/martin envo.png" />
      </div>
      <div class=" pl-6  py-4  bg-white shadow-md justify-between items-start flex">
        <div class="  flex-col justify-start items-start gap-4 flex">
            <div class=" self-stretch justify-start items-start gap-4 flex">
              <img src="image/account icon.png" alt="">                    
              <div class=" flex-col justify-start items-center gap-3 flex">                      
                <p class=" text-black text-opacity-90 text-base font-medium  ">Martin Erno Vinny</p>
                <p class="Text self-stretch text-black text-opacity-40 text-[13px] font-normal  ">ID: PAT-1234</p>
              </div>  
            </div>
            
            <p class="text-zinc-800"><span class="text-zinc-800 text-sm font-bold ">Gender:</span> Male</span></p>
            <p class="text-zinc-800"><span class="text-zinc-800 text-sm font-bold  leading-snug">Birthdate:</span> 21 / 12 / 1912</p>
            <p class="text-zinc-800"span class="text-zinc-800 text-sm font-bold  leading-snug">Address:</span> Bole  Sub-city, Woreda 11, 1029</p>
            <p class="text-zinc-800"><span class="text-zinc-800 text-sm font-bold  leading-snug">Email:</span>martinerry@hotmail.com</p>
        </div>
        <img class="Ce91 w-[146.90px] h-[146.90px] shadow border-4 border-zinc-600" src="image/martin envo.png" />
      </div>
          
    </div>
    
      <div class="RightSideBar flex flex-col gap-2.5 mr-4">
        <div class="SearchBox  bg-white justify-start items-center inline-flex">
          <div class=" justify-start items-start flex">
              <input type="text" id="sortSearch" class="w-10/12 border" placeholder="input search text">
              <label class="self-center justify-self-center w-1/12 h-full hover:bg-slate-400" for="sortSearch"><img class=" w-[12.86px] h-[12.86px]" src="image/search.png" /></label>
          </div>       
        </div>
        <p class=" text-black text-semibold font-normal  leading-tight">sort result by</p>
        <div class="  justify-end items-center gap-2 ">
          <input type="checkbox" id="nameCheckbox" name="myCheckbox">
          <label for="nameCheckbox" class="text-black text-opacity-90 text-sm font-normal  leading-snug">Name</label>
        </div>
        
        <div class="  justify-end items-center gap-2 ">
            <input type="checkbox" id="upcomingCheckbox" name="myCheckbox">
            <label for="upcomingCheckbox" class="text-black text-opacity-90 text-sm font-normal  leading-snug">Upcoming appointment</label>
        </div>
        <div class="  justify-end items-center gap-2 ">
          <input type="checkbox" id="updatesCheckbox" name="myCheckbox">
          <label for="updatesCheckbox" class="text-black text-opacity-90 text-sm font-normal  leading-snug">recent Updates</label>
        </div>
        
      
      </div>
   
  </main>
        
        
        
  <footer class="footer flex flex-col w-full container justify-end items-center">
    <div class=" self-stretch justify-center  items-center gap-[23px] inline-flex">
      <div class=" justify-start items-center gap-[5px] flex">
        <img class=" w-[15.12px] h-[15.12px] relative" src="image/mail.png">
        <p class=" text-black text-opacity-40 text-sm font-normal  leading-snug">CardioCare.example.com</p>
      </div>
      <img class=" w-[29.16px] h-[29.16px] rounded-[72px]" src="image/image 3.png" />
        <div class=" justify-center items-center gap-[5px] flex">
          <p class=" text-black text-opacity-40 text-sm font-normal  leading-snug">+251912345678</p>
          <img class=" w-[16.63px] h-[16.63px] relative bg-white" src="image/phone.svg">
        </div>
    </div>
    <div class=" text-black text-opacity-40 text-sm font-normal  leading-snug">Copyright ©2024 Cardio Care patient health management system. All rights resserved</div>
  </footer> 
</body>
</html>