<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptionist Registration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="stylesheet" href="/styles/doctorList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" />
    <link rel="icon" href="/image/cardio-care logo-modified.png">
    <style>
        body {
            font-family: 'Raleway', sans-serif;
        }
    </style>
</head>

<body class=" bg-slate-200 flex flex-col justify-between min-h-screen">
    <div class="fixed top-0 w-full bg-white z-50 ">
        <div class="flex items-center justify-between px-4 py-2">

            <div class="flex items-center">
                <img src="/image/cclogo2.png" alt="Logo" class="h-14 w-14">
                <span class="text-black font-bold text-3xl ml-1">Cardio Care</span>
            </div>


            <div class="flex items-center">
                <img src="/image/royal.png" alt="Profile Image" class="rounded-full h-12 w-12 mr-2 object-cover">
                <div>
                    <p class="text-gray-800 font-bold">Royal Hospital</p>
                    <div class="flex items-center">

                        <span class="text-black font-bold"> <i class="fa-solid fa-hospital"></i> RH647745</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="flex flex-col justify-center items-center md:flex md:flex-row pl-4" style="padding-top: 70px;">

        <a style="width: 350px;"
            class="mr-5 rounded-lg p-8 font-bold text-1xl py-11 mt-5 bg-white text-center justify-center items-center text-gray-800 mb-5 hover:shadow-lg cursor-pointer"
            href="/admin/dashboard">
            <img src="/image/cclogo2.png" alt="Logo" class="h-12 w-12 mx-auto">
            <p id="openModalBtn" href="/admin/dashboard" class="mx-auto">Add Receptionist
            </p>
            <i class="fa-solid fa-user"></i>
        </a>

        <a href="/admin/doctorRegistration" style="width:350px;"
            class="mt-5 mr-5 ml-3 rounded-lg p-8 py-11 font-bold text-1xl bg-white text-center justify-center items-center  mb-5 hover:shadow-lg cursor-pointer">
            <img src="/image/cclogo3.png" alt="Logo" class="h-12 w-12 mx-auto">
            <p href="/admin/doctorRegistration" class="mx-auto">Register Doctor
            </p>
            <i class="fa-solid fa-user-doctor"></i>
        </a>

        <a href="/admin/receptionistManagement" style="width: 350px;"
            class="mr-5 rounded-lg p-8 font-bold text-1xl py-11 mt-5 bg-white text-center justify-center items-center text-gray-800 mb-5 hover:shadow-lg cursor-pointer">
            <img src="/image/cclogo2.png" alt="Logo" class="h-12 w-12 mx-auto">
            <p id="openModalBtn" href="/admin/receptionistManagement" class="mx-auto">Manage Receptionists
            </p>
            <i class="fa-solid fa-user"></i>
        </a>

        <a href="/admin/patients" style="width: 350px;"
            class="mr-5 rounded-lg p-8 font-bold text-1xl py-11 mt-5 bg-white text-center justify-center items-center text-gray-800 mb-5 hover:shadow-lg cursor-pointer">
            <img src="/image/cclogo3.png" alt="Logo" class="h-12 w-12 mx-auto">
            <p href="/admin/patients" class="mx-auto">Manage Patients
            </p>
            <i class="fa-solid fa-user-doctor"></i>
        </a>

        <a href="/admin/doctorManagement" style="width: 350px;"
            class="mr-5 rounded-lg p-8 font-bold text-1xl py-11 mt-5 bg-white text-center justify-center items-center text-gray-800 mb-5 hover:shadow-lg cursor-pointer">
            <img src="/image/cclogo3.png" alt="Logo" class="h-12 w-12 mx-auto">
            <p href="/admin/doctorManagement" class="mx-auto">Manage Doctors
            </p>
            <i class="fa-solid fa-user-doctor"></i>
        </a>
    </div>



    <section style="width:78%;"
        class="flex-row justify-between items-center mx-auto font-bold  bg-slate-700 py-2  md:flex md-block">

        <h1 style="width:90%;" class=" text-2xl  text-white font-bold font-serif pl-10">
            Receptionist List
        </h1>

    </section>

    <div id="receptionistList" class="my-5"></div>

    <footer class="bg-slate-800 w-full py-1 mt-5 flex justify-center items-center">
        <p class="text-sm md:text-md text-center text-white">Copyright &copy; Cardio Care</p>
    </footer>
    <script src="/scripts/admin/manage-receptionists.js"></script>
</body>


</html>