<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Registration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" />
    <link rel="icon" href="/image/cardio-care logo-modified.png">
    <style>
        body {
            font-family: 'Raleway', sans-serif;
        }
    </style>
</head>

<body class="bg-slate-200 flex flex-col min-h-screen justify-between">
    <div class="fixed top-0 w-full bg-white z-50 ">
        <div class="flex items-center justify-between px-4 py-2">
            <a class="flex items-center" href="/receptionist/dashboard">
                <img src="/image/cclogo2.png" alt="Logo" class="h-14 w-14">
                <span class="text-black font-bold text-3xl ml-2">Cardio Care</span>
            </a>

            <div class="flex items-center">
                <img src="/image/royal.png" alt="Profile Image" class="rounded-full h-12 w-12 mr-2 object-cover">
                <div>
                    <p class="text-gray-800 font-bold">Royal Hospital</p>
                    <div class="flex items-center">
                        <span class="text-black font-bold"> <i class="fa-solid fa-hospital"></i> RH647745</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-3xl font-bold mb-4 pt-2 text-center" style="padding-top: 90px;">Patient Registration Form</h2>

    <form id="patientForm" class="max-w-xs mx-auto mt-8" enctype="multipart/form-data">
        <div class="flex flex-col space-y-2">
            <label for="firstName" class="font-bold">First Name:</label>
            <input type="text" id="firstName" name="name.first" required
                class="border border-gray-300 rounded px-2 py-1">
            <label for="middleName" class="font-bold">Middle Name:</label>
            <input type="text" id="middleName" name="name.middle" required
                class="border border-gray-300 rounded px-2 py-1">
            <label for="lastName" class="font-bold">Last Name:</label>
            <input type="text" id="lastName" name="name.last" required class="border border-gray-300 rounded px-2 py-1">
            <label for="gender" class="font-bold">Gender:</label>
            <select id="gender" name="gender" required class="border border-gray-300 rounded px-2 py-1">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <label for="email" class="font-bold">Email:</label>
            <input type="email" id="email" name="email" required class="border border-gray-300 rounded px-2 py-1">
            <label for="phoneNumber" class="font-bold">Phone Number:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" class="border border-gray-300 rounded px-2 py-1">
            <label for="city" class="font-bold">City:</label>
            <input type="text" id="city" name="address.city" class="border border-gray-300 rounded px-2 py-1">
            <label for="subCity" class="font-bold">Subcity:</label>
            <input type="text" id="subCity" name="address.subCity" class="border border-gray-300 rounded px-2 py-1">
            <label for="woreda" class="font-bold">Woreda:</label>
            <input type="number" id="woreda" name="address.woreda" class="border border-gray-300 rounded px-2 py-1">
            <label for="houseNumber" class="font-bold">House Number:</label>
            <input type="number" id="houseNumber" name="address.houseNumber"
                class="border border-gray-300 rounded px-2 py-1">
            <label for="dateOfBirth" class="font-bold">Date of Birth:</label>
            <input type="date" id="dateOfBirth" name="dateOfBirth" required
                class="border border-gray-300 rounded px-2 py-1">
            <label for="password" class="font-bold">Password:</label>
            <input type="password" id="password" name="password" required
                class="border border-gray-300 rounded px-2 py-1">
            <label for="imageUpload" class="font-bold">Upload Image:</label>
            <input type="file" id="imageUpload" name="image" accept="image/*" required
                class="border border-gray-300 rounded px-2 py-1">
        </div>
        <button type="submit"
            class="mt-4 bg-red-500 hover:bg-black text-white px-4 py-2 rounded transition duration-300 ease-in-out">Add
            Patient</button>
        <button
            class="mt-4 hover:bg-red-500 bg-black text-white px-4 py-2 rounded transition duration-300 ease-in-out"><a
                href="/receptionist/dashboard">Back to Dashboard</a></button>
    </form>
    <footer class="bg-slate-800 w-full py-1 mt-5 flex justify-center items-center">
        <p class="text-sm md:text-md text-center text-white">Copyright &copy; Cardio Care</p>
    </footer>


    <script src="/scripts/receptionist/addPatient.js"> </script>
</body>

</html>