<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptionist | Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="stylesheet" href="/styles/buttons.css">
    <link rel="stylesheet" href="/styles/receptionistRenders.css">
    <link rel="icon" href="/image/cardio-care logo-modified.png">

    <style>
        body {
            font-family: 'Raleway', sans-serif;
        }
    </style>
</head>

<body class="bg-slate-200 flex flex-col justify-between min-h-screen">
    <div class="fixed top-0 w-full bg-white z-50 ">
        <div class="flex items-center justify-between px-4 py-2">
            <div class="flex items-center">
                <img src="/image/cclogo2.png" alt="Logo" class="h-14 w-14">
                <span class="text-black font-bold text-3xl ml-1">Cardio Care</span>
            </div>
            <div class="flex">
                <a class=" border-2 hover:shadow-sm hover:bg-gray-50 rounded-md text-slate-800 font-semibold px-2 py-2 text-center mr-5 flex flex-row"
                    href="/receptionist/logout">
                    <img src="/image/door.svg" alt="" class="w-6 h-6 mr-1">
                    <p>Logout</p>
                </a>
                <div class="flex items-center">
                    <img src="/image/royal.png" alt="Profile Image" class="rounded-full h-12 w-12 mr-2 object-cover">
                    <div>
                        <p class="text-gray-800 font-bold">Royal Hospital</p>
                        <div class="flex items-center">
                            <span class="text-black font-bold"> <i class="fa-solid fa-hospital"></i> RH647745</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="flex flex-col justify-center items-center md:flex md:flex-row" style="padding-top: 90px; ">
            <a style="width: 450px;" href="/receptionist/patientRegistration"
                class="mr-5 rounded-lg p-8 font-bold text-2xl py-11 mt-5 bg-white text-center justify-center items-center text-gray-800 mb-5 hover:shadow-2xl cursor-pointer">
                <p id="openModalBtn" class="inline">Add Patient
                </p>
                <i class="fa-regular fa-plus font-bold text-3xl"></i>
            </a>
            <a style="width:450px;" href="/receptionist/payments"
                class="mt-5 mr-5 ml-3 rounded-lg p-8 py-11 font-bold text-2xl bg-gray-600 text-center justify-center items-center text-white mb-5 hover:shadow-2xl cursor-pointer">
                <p class="text-white mr-1 inline">Pending Payment
                </p>
                <i class="fa-solid fa-coins text-yellow-400"></i>
            </a>

        </div>
    </section>

    <section style="width:78%;"
        class="flex-row justify-between items-center mx-auto font-bold rounded-md bg-slate-500 py-2  md:flex md-block">
        <h1 style="width:90%;" class=" text-2xl text-white font-semibold font-sans pl-10">
            Patient List
        </h1>
    </section>

    <section class="mb-5 md:block ">
        <div style="width:78%;"
            class=" flex flex-col justify-center items-center mx-auto font-bold py-4 mt-1 rounded-lg">
            <ol style="width:90%;" id="patientList"
                class=" patient-list  text-gray-800 font-bold font-serif rounded-lg">
            </ol>
            <ol style="width:90%;" id="doctorList" class=" patient-list  text-gray-800 font-bold font-serif rounded-lg">
            </ol>
        </div>
    </section>
    <footer class="bg-slate-700 w-full h-10 flex justify-center items-center">
        <p class="text-sm md:text-lg text-center text-white">Copyright &copy; Cardio Care</p>
    </footer>
    <script src="/scripts/receptionist/getPatient.js"></script>

</body>

</html>